
<div class="footer">

  <a href=" https://www.linkedin.com/in/truptimayee-ojha-0344a8234/" target="_blank">
    <i class="fa-brands fa-linkedin fa-xl" style="color: #ffffff;"></i>
  </a>
  <a href="https://github.com/TruptimayeeOjha" target="_blank">
    <i class="fa-brands fa-github fa-xl" style="color: #ffffff; padding: 0px 10px;"></i>
  </a>  

  <p style="color: #ffffff; font-family: 'McLaren', cursive; font-family: 'Montserrat', sans-serif;">
    Made with ♡ by Trupti </p>

</div>
